
<% if user_signed_in? %>
  <% if current_user.try(:admin?) %>
    <h3>Welcome <%= current_user.role %></h3>
      <p><%= link_to 'Users:', users_path %> <%= User.count %> registered</p>
  <% end %>
<% end %>
