<div class="row">
  <div class="panel">
    <h3>Terms and Conditions</h3>
    <p>
      AGREEMENT. The Purchase Order, these Terms and Conditions, any special conditions, Owner’s
      Policies, Design Standards and Insurance Requirements (together, the “Agreement”) along
      with Drawings, Specifications, addenda issued before issuance of the Agreement and any
      subsequently executed Change Order (together with the Agreement, the “Agreement Documents”)
      shall govern the relationship between the parties for the construction project described
      in the Agreement.EXECUTION OF THE WORK. Contractor shall furnish all labor, material,
      services, tools, equipment, and fixtures necessary to perform and complete in a good and
      workmanlike manner the Work described in the Agreement. All Work shall be done in accordance
      with, all laws, ordinances, building codes, rules and regulations applying to the Work,
      including, but not limited to, the Americans with Disabilities Act, environmental regulations
      and the Occupational Safety and Health Act of 1970, as amended. Contractor shall have control over,
      and be solely responsible for, all means, methods and sequences for performing the Work.
    </p>
    <%= render 'application/pop_up' %>
  </div>
</div>
