
<br />
<br />
<div class="animate">
  <div href="#" class="papersheet">

   <div class="papersheet-content">

     <h2>Co Construction</h2>
       Is a fully responsive platform which will provide a collaborative environment for both clients and
       contractors where they can keep track of there projects and develop a portfolio which will help other
       users to find exactly what they looking for in a more productive manner.
   </div>
   <!-- Controls Bar -->
   <div class="papersheet-controls">
     <button class="papersheet-controls__button -primary">OK</button>
     <button class="papersheet-controls__button">ANNULLA</button>
   </div>
  </div>
</div>
<br />
<br />
