<br />
<br />

<div class="row">
  <div class="small-6 small-centered columns">

    <div class="service">
      <div class="service-icon-box">
        <img src="/assets/hammer.png" alt="" class="service-icon">
      </div>
      <h4 class="service-heading"> <%= @project.title %> </h4>
      <p class="service-description"> <%= @project.description %> </p>
      <p class="service-description"> <%= @project.category %> </p>
    </div>

  </div>
</div>
