<link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">

<header class="hero">
</header>
<footer class="footer">
  <div class="row">
    <div class="small-12 medium-6 medium-push-6 left columns">
      <p class="logo hide-for-small-only"></p>
    </div>
    <div class="small-12 medium-6 medium-pull-6 columns">
      <ul class="inline-list social">
        <a href="https://www.facebook.com/majid.ihsan"><i class="fi-social-facebook"></i></a>
        <a href="#"><i class="fi-social-twitter"></i></a>
        <a href="https://www.linkedin.com/in/majidihsan"><i class="fi-social-linkedin"></i></a>
        <a href="https://github.com/majidihsan/co-construction"><i class="fi-social-github"></i></a>
      </ul>
      <p class="copywrite">Copywrite Launch Academy © 2016</p>
    </div>
  </div>
</footer>
